**/*.swp

# https://spacelift.io/blog/terraform-gitignore
**/.terraform/*
*.auto.tfvars
*.tfoverride
.envrc
.terraformrc
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.rc
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
tfplan

# Secrets are managed in site-config
# See: ../site-config/ or https://github.com/homestak-dev/site-config
